**Tugas 1**

In [1]:
# Contoh membuat DataFrame sederhana dan operasi dasar
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       Maria|   Finance|  3000|
+------------+----------+------+

**Tugas 2**

In [5]:
# Contoh operasi transformasi DataFrame
df.select('EmployeeName', 'Salary').show()
df.filter(df['Salary'] > 3000).show()
df.groupBy('Department').avg('Salary').show()

+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|       Maria|  3000|
+------------+------+

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
+------------+----------+------+

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|   Finance|     3000.0|
+----------+-----------+

**Tugas 3**

In [54]:
df.withColumn('SalaryBonus', df['Salary'] * 0.1).withColumn('TotalCompensation', df['Salary'] + F.col('SalaryBonus')).show()

+------------+----------+------+-----------+-----------------+
|EmployeeName|Department|Salary|SalaryBonus|TotalCompensation|
+------------+----------+------+-----------+-----------------+
|       James|     Sales|  3000|      300.0|           3300.0|
|     Michael|     Sales|  4600|      460.0|           5060.0|
|      Robert|     Sales|  4100|      410.0|           4510.0|
|       Maria|   Finance|  3000|      300.0|           3300.0|
+------------+----------+------+-----------+-----------------+

**Tugas 4**

In [55]:
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('Department').orderBy('Salary')
df.withColumn('Rank', F.rank().over(windowSpec)).show()

+------------+----------+------+----+
|EmployeeName|Department|Salary|Rank|
+------------+----------+------+----+
|       Maria|   Finance|  3000|   1|
|       James|     Sales|  3000|   1|
|      Robert|     Sales|  4100|   2|
|     Michael|     Sales|  4600|   3|
+------------+----------+------+----+

**Tugas 5**

In [ ]:
from pyspark.sql import functions as sparkFuncs
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("tio").getOrCreate()

dataframe = spark.read.csv("Pendidikan.csv", header=True, inferSchema=True)
dataframe.show()

+--------------------+-------+-------+---------+-------------+----------------------------+-----------------------------+-----------------------+------------------------+-----------------+-----------------+-------------------------+-------------------------+------------------------+----+
|            Provinsi|Sekolah|  Siswa|Mengulang|Putus Sekolah|Kepala Sekolah dan Guru(<S1)|Kepala Sekolah dan Guru(â‰¥ S1)|Tenaga Kependidikan(SM)|Tenaga Kependidikan(>SM)|Rombongan Belajar|Ruang kelas(baik)|Ruang kelas(rusak ringan)|Ruang kelas(rusak sedang)|Ruang kelas(rusak berat)|_c14|
+--------------------+-------+-------+---------+-------------+----------------------------+-----------------------------+-----------------------+------------------------+-----------------+-----------------+-------------------------+-------------------------+------------------------+----+
|Prov. D.K.I. Jakarta|   2224| 756455|     1202|          869|                        1089|                        38305|                   6967|                    1569|            27830|            23320|                     3886|                      717|                     345|NULL|
|    Prov. Jawa Barat|  19553|4487262|     4778|         5675|                        5007|                       209252|                  27487|                    3353|           169704|            59592|                    46006|                    34432|                   14397|NULL|
|   Prov. Jawa Tengah|  18618|2595050|     6909|         2399|                        2337|                       167535|                  21325|                    2473|           127266|            51050|                    42356|                    26321|                   13457|NULL|
|Prov. D.I. Yogyak...|   1846| 270610|      357|           75|                         326|                        19771|                   4536|                     866|            13719|             8217|                     3878|                     1827|                     548|NULL|
|    Prov. Jawa Timur|  18980|2530849|     4694|         3327|                        2950|                       180465|                  21116|                    3818|           134724|            58679|                    42896|                    24218|                   14389|NULL|
|          Prov. Aceh|   3532| 489863|     1406|          905|                        2062|                        47490|                   6024|                    1096|            25829|            10261|                     7483|                     6076|                    3122|NULL|
|Prov. Sumatera Utara|   9751|1524481|     4896|         4390|                        3279|                       108599|                  12157|                    2015|            74970|            33726|                    21203|                    14880|                    9371|NULL|
|Prov. Sumatera Barat|   4206| 592365|     4643|          858|                        1022|                        47064|                   9043|                    2167|            31481|            12164|                     9121|                     7904|                    3600|NULL|
|          Prov. Riau|   3815| 776574|     4446|         1388|                        2214|                        50310|                   7296|                    1334|            35120|            15935|                     8745|                     6458|                    3719|NULL|
|         Prov. Jambi|   2464| 368620|     2006|          835|                        1177|                        26403|                   4562|                     794|            18911|             6857|                     5787|                     4701|                    2377|NULL|
|Prov. Sumatera Se...|   4719| 882011|     6469|         1976|                        2171|                        59059|                   9744|                    1676|            40713|            15358|                    10839|                     8665|                    3522|NULL|
|       Prov. Lampung|   4726| 798892|     2412|          833|                        2096|                        55421|                   6589|                     821|            38340|            13582|                    11111|                     9451|                    3884|NULL|
|Prov. Kalimantan ...|   4447| 563178|     9801|         1324|                        1751|                        38364|                   4336|                     504|            31317|            10878|                     8540|                     7243|                    4087|NULL|
|Prov. Kalimantan ...|   2650| 276421|     2806|          675|                         855|                        25030|                   2078|                     238|            17694|             6741|                     5247|                     4401|                    2089|NULL|
|Prov. Kalimantan ...|   2920| 353174|     3201|          532|                         788|                        29351|                   4045|                     983|            20814|             9040|                     6053|                     5091|                    1638|NULL|
|Prov. Kalimantan ...|   1929| 419472|     2063|          669|                         679|                        25737|                   5811|                     803|            18585|             9677|                     4432|                     2326|                    1497|NULL|
|Prov. Sulawesi Utara|   2209| 218823|      728|          435|                         859|                        18866|                    870|                     130|            14384|             6255|                     3707|                     3126|                    1924|NULL|
|Prov. Sulawesi Te...|   2944| 312352|     3004|         1033|                        1974|                        26456|                   7219|                     645|            19335|             7730|                     5247|                     4750|                    2887|NULL|
|Prov. Sulawesi Se...|   6434| 883153|     3300|         1613|                        1617|                        69029|                  11685|                    2281|            46819|            16108|                    11949|                    13128|                    5990|NULL|
|Prov. Sulawesi Te...|   2347| 294170|     1643|          784|                         992|                        26570|                   3501|                     397|            16878|             5867|                     4370|                     4196|                    2704|NULL|
+--------------------+-------+-------+---------+-------------+----------------------------+-----------------------------+-----------------------+------------------------+-----------------+-----------------+-------------------------+-------------------------+------------------------+----+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession

result = dataframe.select("Sekolah", "Siswa", "Putus Sekolah", "Mengulang") \
    .filter(F.col("Provinsi").isin("Prov. Jawa Tengah", "Prov. Jawa Barat", "Prov. Jawa Timur"))

result.show(truncate=False)

+-------+-------+-------------+---------+
|Sekolah|Siswa  |Putus Sekolah|Mengulang|
+-------+-------+-------------+---------+
|19553  |4487262|5675         |4778     |
|18618  |2595050|2399         |6909     |
|18980  |2530849|3327         |4694     |
+-------+-------+-------------+---------+

In [ ]:
result = dataframe.filter(F.col("Provinsi").isin(["Prov. Jawa Tengah", "Prov. Jawa Barat", "Prov. Jawa Timur"])) \
                 .groupBy("Provinsi") \
                 .agg(F.round(F.sum("siswa"), 2).alias("sum(siswa)"),
                      F.round(F.sum("Putus Sekolah"), 2).alias("sum(Putus Sekolah)"),
                      F.round(F.sum("Mengulang"), 2).alias("sum(Mengulang)"))

result.show(truncate=False)

+-----------------+----------+------------------+--------------+
|Provinsi         |sum(siswa)|sum(Putus Sekolah)|sum(Mengulang)|
+-----------------+----------+------------------+--------------+
|Prov. Jawa Timur |2530849   |3327              |4694          |
|Prov. Jawa Barat |4487262   |5675              |4778          |
|Prov. Jawa Tengah|2595050   |2399              |6909          |
+-----------------+----------+------------------+--------------+